<!-- Footer -->
<footer style="background-color: #CBF1F5; padding: 1.5rem 0; margin-top: 5rem;">
    <div class="container text-center">
        <p>
            <a href="/static/about">O nama</a> |
            <a href="/static/contact">Kontakt</a> |
            <a href="/static/terms">Uslovi korištenja</a>
        </p>
        <p>Copyright © 2025</p>
    </div>
</footer>
